
<div class="comment clearfix">
<hr>
    <div class="comment_content">
        <p class="comment_name"> <strong><%= commentaire.nom %></strong></p>
        <p class="comment_body"> <%= commentaire.commentaire %></p>
        <p class="comment_time"> il y a <%= time_ago_in_words(commentaire.created_at) %></p>
    </div>
     <% if user_signed_in? %>
     <p>
      <%= link_to 'Supprimer le commentaire', [commentaire.post, commentaire],
      method: :delete,
      class: "button",
      data: {confirm: 'Etes-vous sûr ?'}  %>
      </p>
       <% end %>
</div>